*{
    padding: 0%;
    margin: 0%;
}

/****** Header Section Start ******/


.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(199, 150, 4);
    height: 35px;
}
.top p{
    margin-left: 50px;
    color: rgb(237, 245, 244);
    font-family:'Franklin Gothic Medium';
    font-weight:600;
    font-size: 15px;
    height: 15px;
    letter-spacing: 0.3px;
}

.top-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.top-icons a{
    padding: 5px;
}

.top-icons a i{
    color: aliceblue;
}

.top-2{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 16, 16);
}


.search-bar{
    --padding: 14px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    margin-left: 50px;
    border-radius: 28px;
    background: #f6f6f6;
    width: 290px;
    transition: box-shadow 0.25s;

}
.search-bar:focus-within {
    box-shadow: 0 0 2px     rgba(0, 0, 0, 0.75);
}

.input-search{
    font-size: 16px;
    color: #333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.input-search::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.25);
}


.logo img{
    height: 100px;
    width: 220px;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-right: 30px;
}

.cart i{
    color: aliceblue;
    margin: 20px;

}
.cart a{
    text-decoration: none;
    color:aliceblue;
}

/****** Header Section end ******/






/******* Main section Start *******/
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: black;
    height: 45px;

}

.menu a{
    color: aliceblue;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: 30px;
    padding-left:  30px;
    height: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
menu a:hover{

    text-decoration: underline;
    text-underline-offset: 25px;
}




.main-img img{
    width: 1521px;
    height: 570px;
}

.best-sellers{

    display: flex;
    justify-content: center;
    height: 90px;
    padding-top: 60px;
    cursor:pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.products{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.product-1 img{
    height: 280px;
    width: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 10px;
}

.p-name{
    margin-left: 10px;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(243, 244, 245);
    font-family: sans-serif;
    color: rgb(14, 15, 16);
    height: 200px;
}

.rate{
    display: flex;
    color: rgb(255, 193, 37);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 18px;
}
.rate p{
    padding-right: 10px;
    padding-top: 3px;
    font-size: 15px;
    align-items: center;
}

.star-icon{
    display: flex;
    font-family: 'Courier New', Courier;
    
}

.star-icon i{
    color: rgb(254, 188, 20);
}


.fire-icon{
    display: flex;
}

.fire-icon i{
    color: rgb(236, 191, 75);
}

.fire-icon p{
    color: slategray;
}

.Flower-i p{
    color: slategray;
}

.rate-2{
    display: flex;
    color: rgb(255, 193, 37);
    font-family: sans-serif;
    font-size: 18px;
}
.rate-2 p{
    font-size: 15px;
    padding-left: 10px;
    padding-top: 2px;
    text-decoration: line-through;

}

.img-2{
    display: flex;
    height: 100vh;
    width: 100%;

}


.pic{
    /* display: flex;   */
    width: 100%;
    height: 100vh;

    
}

.pic-1 img{
    width: 507px;
    height: 780px;
    position: absolute;

}


.text-1{
    position: relative;
    margin-top: 650px;
    text-align: center;
    margin-left: 10px;
    color: aliceblue;
}

.text-1 h2{
    color:aliceblue;
    text-align: center;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;

}

.text-1 a{
    color: #333;
    background-color:azure;
    margin-top: 40px;
    padding: 12px 42px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
}

.pic-2 img{
    width: 507px;
    height: 780px;
    position: absolute;
}

.text-2{
    position: relative;
    margin-top: 650px;
    text-align: center;
    margin-left: 10px;
    color: aliceblue;
}

.text-2 h2{
    color:aliceblue;
    text-align: center;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;

}

.text-2 a{
    color: black;
    background-color:azure;
    margin-top: 40px;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
}


.pic-3 img{
    position: absolute;
    width: 507px;
    height: 780px;
}
.text-3{
    position: relative;
    margin-top: 650px;
    text-align: center;
    margin-left: 10px;
    color: aliceblue;
}

.text-3 h2{
    color:aliceblue;
    text-align: center;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;

}

.text-3 a{
    color: #333;
    background-color:azure;
    margin-top: 40px;
    padding: 12px 22px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
}

.heading-1{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: black;
    color:azure;
    text-align: center;
    padding: 25px ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.new-arrival{
    text-align: center;
    margin-top:  20px;
    padding: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.products{
    display: flex;
    justify-content: center;
    align-items: center;


}
.productss img{
    width: 330px;
    margin: 10px;
    transition-duration: 0.2s;
    transition-delay: 0.4ms;
    transition-timing-function: ease-out
;
}
.productss img:hover{
    margin-top: 1px;
}

.productss h4{
    text-align: center;
    font-family: sans-serif;
    color: rgb(2, 0, 0);
}

.img-4 img{
    width: 1521px;
    margin-top: 15px;
}

.w-collection{
    padding: 50px;
}
.w-collection h1 {
    font-family:sans-serif;
    font-size: 28px;
}

.e-attars img{
    width: 1521px;
}

.e-collection h1{
    margin: 50px;
    font-family:  Arial, sans-serif;
    font-size: 28px;
}


.e-products{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-attars{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.p-attars img{
    width: 710px;
    margin-left: 20px;

}

.p-bakhoors{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-bakhoors img{
    width: 710px;
    margin-left: 20px;
    margin-top: 5px;

}

/********* Direct Video Sectin Start *********/

.video-section{
    display: flex;
    padding: 30px;
}

.video-1{
    margin-left: 20px;
}

/********* Direct video Section End *********/



/******** Blogs Section Start********/

.blog {
    width: 1521px;
    margin-top: 100px;
    height: 700px;

}
.blog h1{
    font-size: 27px;
    font-family: sans-serif;
    margin-left: 50px;
}

.blogs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.blog-pic{
    margin-left: 50px;
}
.blog-pic a img{
    width: 900px;

}
    
.blog-pic h1{
    padding: 5px;
    padding-left: 180px;
    font-size: 25px;
    
}


.blog-pic p{
    padding-left: 420px;
    color:slategray;
    font-family: sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}

.latests{
    margin-left: 50px;

}

.latests h4{
    font-family: sans-serif;
    font-size: 17px;
    margin-left: 30px;
}

.pics{
    display: flex;
    width: 500px;

}

.pics img{
    width :180px;
    margin-top: 20px;
    margin-left: 30px;

}

.pic-dt{
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    line-height: 30px;
    row-gap: 20px;
}


.explore{
    margin-left: 30px;
}

.explore ul{
    display:flex
}
.explore li{
    list-style: none;
    padding-top: 30px;
}

.explore a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    border: 1.5px solid rgb(0, 0, 0);
    padding: 10px;
    font-size: 12px;
    margin-right: 15px;
    letter-spacing: 2px; 
    font-weight: 600;

}
/********* Blog Section End **********/

/********* Spotlight Section Start **********/
.spotlight{
    width: 1521px;
    padding-bottom: 20px;

}
.spotlight h1{
    font-family: sans-serif;
    margin-left: 610px;
    margin-top: 80px;
    padding-bottom: 40px;
    font-weight:500;
}

.spotlight-images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotlight-images img{
    padding: 8px;
}



/********* Spotlight Section End  *********/

/********* Gift Section Start  *********/

.gifts{
    display: flex;
    margin: 50px;
    height: 650px;
}

.gift-img img{
    width: 850px;
    height: 650px;
}

.gift-text{
    color: aliceblue;
    background-color: black;
    padding: 150px 60px;
}

.gift-text h1{
    font-family: sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

.gift-text p{
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 40px;
    padding-right: 60px;
}

.gift-text a{
    text-decoration: none;
    color: black;
    background-color: #f6f6f6;
    font-size: 18px;
    font-weight:600;
    font-family: sans-serif;
    padding: 15px 30px;
    margin-left: 10px;
    border-radius: 30px;

}
/******** Gift Section End  *********/

/********* Brand Section Start  *********/

main .attars-brands{
    display: flex;
    margin-bottom: 60px;

}

.leading-brand{
    width: 500px;
    text-align: center; 
    margin-left: 20px;
    margin-top: 20px;
}


.reward-icon i{
    font-size: 50px;
    margin-bottom: 15px;

}
.leading-brand h1{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.leading-brand p{
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 0.6px;
    margin-top: 20px;
    line-height: 30px;
}

.brand-return{
    width: 500px;
    text-align: center;
    margin-top: 20px;
}

.security-icon i{
    font-size: 50px;
    margin-bottom: 15px;
}
.brand-return h1{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.brand-return p{
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 0.6px;
    margin-top: 20px;
    line-height: 30px;
}


.long-lasting{
    width: 500px;
    text-align: center;
    margin-top: 20px;
}

.box-icon i{
    font-size: 50px;
    margin-bottom: 15px;

}
.long-lasting h1{
    font-size: 22px;
    font-family: sans-serif;
    font-weight:600;
    letter-spacing: 1px;
}
.long-lasting p{
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 0.6px;
    margin-top: 20px;
    line-height: 30px;
}



/********* Brand Section End  *********/

/********* Retail Store Section start  *********/
.retail-store{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.img{
    width: 1000px;
    background-color: black;
    height: 600px;
}


 .img img{
    width: 900px;
    height: 600px;
}

.retail-detail{
    background-color: black;
    color: aliceblue;
    width: 800px;
    height: 600px;
}

.details{
    margin: 80px 80px;
    margin-right: 130px;
}

.details h1{
    font-family: sans-serif;
    font-size: 48px;
}

.details p{
    margin-top: 30px;
    margin-bottom: 35px;
    font-family: sans-serif;
    font-size: 21px;
    line-height: 33px;
}

.details a{
    text-decoration: none;
    color: black;
    background-color: #f6f6f6;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;

}
/********* Retail Store Section End  *********/
/****** Customer Section Sart  ******/
.card-list{
    color: black;
    background-color: aliceblue;

}

.card-item .iconss {
    display: flex;

}
.cardlist .card-item p{
    font-size: 18px;
    color: #333;
    font-family: sans-serif;
    text-align: center;

    
}

/****** Customer Section Sart  ******/
/******** Newsletter Section strart  ********/
.newsletter{
    text-align: center;
    background-color: goldenrod;
    color: #f6f6f6;
    height: 230px;
}

.newsletter h1{
    font-size: 28px;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 30px;
}

.email-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-button input{
    padding: 17px 20px;
}

.email-button a{
    text-decoration: none;
    background-color: #f6f6f6;
    color: goldenrod;
    padding: 12px 30px;
    padding-bottom: 20.5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}
/******** Newsletter Section End  ********/



/************* Main Section End *************/




/* Footer Section Start */


.footer{
    display: flex;
    justify-content:space-around;
    height: 450px;
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 150px;
    color: aliceblue;
    background-color:black !important
}

.f-logo img{
    width: 200px;
    height: 100px;
}

.m-menu{
    color: aliceblue;
    font-size: 15px;
    font-family: sans-serif;
    width: 500px;
    padding-left: 20px;


}


.linksss a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding-right: 8px;
    padding-top:20px;
    font-family: sans-serif;
}


.contacts{
    width: 500px;
    display: block;

}

.contacts h4{
    font-family: sans-serif;
    padding-bottom: 20px;
    font-size: 15px;

}

.contacts a{
    text-decoration: none;
    color:azure;
    font-family: sans-serif;
    display: block;
    padding-bottom: px;

}

.contacts h5{
    padding-top: 30px;
    color: azure;
    font-size: 15px;
    font-family: sans-serif;
}
.contacts a u{
    padding-left: 10px;
    text-underline-offset: 2px;

}

.ico{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 70px;

}

.ico a i{
    color: aliceblue;
    font-size: 21px;
}


.services{
    width: 500px;

}

.services h4{
    font-family: sans-serif;
    font-size: 15px;
    color:aliceblue;
}
.services a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    display: block;
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

.address{
    width: 500px;

}

.address h4{
    font-family: sans-serif;
    font-size: 15px;
    color: aliceblue;

}

.address p{
    padding-top: 20px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    line-height: 25px;
    font-size: 14px;
    display: block;
}

.footer-end{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: aliceblue;  
    background-color: black;
    

}
.footer-end p{
    font-family: sans-serif;

}